In [1]:
# To run this, download the XML zip file
# http://www.py4e.com/code3/bs4.zip
# and unzip it in the same directory as this file
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET
import ssl

In [2]:
# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [3]:
address = input('Enter URL: ')

Enter URL:  http://py4e-data.dr-chuck.net/comments_1638637.xml

In [4]:
#uh = urllib.request.urlopen(url, context=ctx)
uh = urllib.request.urlopen(address, context=ctx)
data = uh.read()
print('Retrieved', len(data), 'characters')
print(data.decode())
tree = ET.fromstring(data)

Retrieved 4235 characters
<?xml version="1.0" encoding="UTF-8"?>
<commentinfo>
  <note>This file contains the actual data for your assignment - good luck!</note>

  <comments>
    <comment>
       <name>Sophie</name>
       <count>100</count>
    </comment>
    <comment>
       <name>Charlize</name>
       <count>100</count>
    </comment>
    <comment>
       <name>Ogheneochuko</name>
       <count>91</count>
    </comment>
    <comment>
       <name>Damian</name>
       <count>90</count>
    </comment>
    <comment>
       <name>Alicja</name>
       <count>88</count>
    </comment>
    <comment>
       <name>Cherelle</name>
       <count>85</count>
    </comment>
    <comment>
       <name>Ayah</name>
       <count>83</count>
    </comment>
    <comment>
       <name>Kole</name>
       <count>82</count>
    </comment>
    <comment>
       <name>Poppie</name>
       <count>81</count>
    </comment>
    <comment>
       <name>Penelope</name>
       <count>77</count>
    </comment>
    <comment>
       <name>Koushik</name>
       <count>76</count>
    </comment>
    <comment>
       <name>Tianna</name>
       <count>74</count>
    </comment>
    <comment>
       <name>Mariana</name>
       <count>70</count>
    </comment>
    <comment>
       <name>Bo</name>
       <count>70</count>
    </comment>
    <comment>
       <name>Maximus</name>
       <count>69</count>
    </comment>
    <comment>
       <name>Joanne</name>
       <count>58</count>
    </comment>
    <comment>
       <name>Lucas</name>
       <count>57</count>
    </comment>
    <comment>
       <name>Syed</name>
       <count>57</count>
    </comment>
    <comment>
       <name>James</name>
       <count>56</count>
    </comment>
    <comment>
       <name>Marlee</name>
       <count>55</count>
    </comment>
    <comment>
       <name>Matas</name>
       <count>52</count>
    </comment>
    <comment>
       <name>Aydon</name>
       <count>49</count>
    </comment>
    <comment>
       <name>Wen</name>
       <count>48</count>
    </comment>
    <comment>
       <name>Caydee</name>
       <count>47</count>
    </comment>
    <comment>
       <name>Hamna</name>
       <count>45</count>
    </comment>
    <comment>
       <name>Sarka</name>
       <count>43</count>
    </comment>
    <comment>
       <name>Maxie</name>
       <count>42</count>
    </comment>
    <comment>
       <name>Kristin</name>
       <count>38</count>
    </comment>
    <comment>
       <name>Ahtasham</name>
       <count>38</count>
    </comment>
    <comment>
       <name>Maia</name>
       <count>36</count>
    </comment>
    <comment>
       <name>JJ</name>
       <count>36</count>
    </comment>
    <comment>
       <name>Kasandra</name>
       <count>36</count>
    </comment>
    <comment>
       <name>Serene</name>
       <count>34</count>
    </comment>
    <comment>
       <name>Nidhish</name>
       <count>33</count>
    </comment>
    <comment>
       <name>Nawel</name>
       <count>31</count>
    </comment>
    <comment>
       <name>Caydence</name>
       <count>21</count>
    </comment>
    <comment>
       <name>Thomson</name>
       <count>20</count>
    </comment>
    <comment>
       <name>Mali</name>
       <count>20</count>
    </comment>
    <comment>
       <name>Adison</name>
       <count>20</count>
    </comment>
    <comment>
       <name>Kiara</name>
       <count>19</count>
    </comment>
    <comment>
       <name>Jaelee</name>
       <count>18</count>
    </comment>
    <comment>
       <name>Teyyibah</name>
       <count>17</count>
    </comment>
    <comment>
       <name>Amelie</name>
       <count>15</count>
    </comment>
    <comment>
       <name>Muriel</name>
       <count>14</count>
    </comment>
    <comment>
       <name>Jaye</name>
       <count>13</count>
    </comment>
    <comment>
       <name>Bryanna</name>
       <count>13</count>
    </comment>
    <comment>
       <name>Oluwatamilore</name>
       <count>9</count>
    </comment>
    <comment>
       <name>Iyanuoluwa</name>
       <count>6</count>
    </comment>
    <comment>
       <name>Annabel</name>
       <count>5</count>
    </comment>
    <comment>
       <name>Jardine</name>
       <count>2</count>
    </comment>
  </comments>
</commentinfo>

In [30]:
fnames = tree.findall('comments/comment')
for item in fnames:
    print('name:',item.find('name').text)
    #numbers=item.get
#print(counts)

name: Sophie
name: Charlize
name: Ogheneochuko
name: Damian
name: Alicja
name: Cherelle
name: Ayah
name: Kole
name: Poppie
name: Penelope
name: Koushik
name: Tianna
name: Mariana
name: Bo
name: Maximus
name: Joanne
name: Lucas
name: Syed
name: James
name: Marlee
name: Matas
name: Aydon
name: Wen
name: Caydee
name: Hamna
name: Sarka
name: Maxie
name: Kristin
name: Ahtasham
name: Maia
name: JJ
name: Kasandra
name: Serene
name: Nidhish
name: Nawel
name: Caydence
name: Thomson
name: Mali
name: Adison
name: Kiara
name: Jaelee
name: Teyyibah
name: Amelie
name: Muriel
name: Jaye
name: Bryanna
name: Oluwatamilore
name: Iyanuoluwa
name: Annabel
name: Jardine

In [5]:
total=0
counts = tree.findall('comments/comment')

In [6]:
for numbers in counts:
    number=int(numbers.find('count').text)
    total=total+number
print(total)

2339